body{
    background-color: #393E46;
    text-align: center;
}

h1
{
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    font-size: 100px;
    color: #4ECCA3;
}

h3
{
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
}

div{
    display: inline-block;
}

#player2
{
    margin-left: 100px;
}

p{
    margin-top: 100px;
    color: white;
}